<html>
    <head>
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="{{ static_url('css/style.css') }}" />
        {% block css %}
        {% end %}
    </head>

    <body>
        <div id="container">
            <header>
                {% block header %}
                <h1>扬美实验学校题库系统</h1>
                {% end %}
            </header>
            <div id="main">
                <div id="content">
                    {% block body %}
                    {% end %}
                </div>
            </div>
            <footer>
                {% block footer %}
                    <p>扬美实验学校出品，技术问题请咨询信息科组。</p>
                {% end %}
            </footer>
        </div>
        <script src="{{ static_url('js/jquery-3.4.1.min.js') }}"></script>
        {% block js %}
        {% end %}
    </body>
</html>