{% extends "main.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/add_test.css') }}" />
{% end %}

{% block header %}
    <h1 id="welcome">欢迎使用该题库系统，{{ username }}</h1>
{% end %}

{% block main_menu %}
<ul>
    <li class="active"><a href="/">发布新试题</a></li>
    <li><a href="/teacher_test_added">已发布试题</a></li>
    <li><a href="/personal">个人中心</a></li>
    <li><a href="/logout">退出</a></li>
</ul>
{% end %}

{% block body %}
    <form action='/teacher_test_added' method='post'>
        {% raw xsrf_form_html() %}
        习题名称：<input type="text"></input>
        背景材料：<textarea></textarea>
        <ol id="added_items">
        </ol>
        <p id="add_question" >添加题目</p>
        <input id="add_test" type = "submit" value="添加本次习题"></input>
        <div id="mask-kk"></div>
        <div id="popup-kk">
            <span id="close">x</span>
            <ul class="one_test_list">
                <li>题干：<input id="question_stem"></input></li>
                <br>
                添加得分点
                <input id="add_another_point" type="button" value="++">
                <input id="pop_another_point" type="button" value="--">
                <li id="point1">得分点1：
                <input id="point1_1" placeholder = "可添加并列得分点"></input>
                <input id="add_same_point1" type="button" value="+">
                <input id="pop_same_point1" type="button" value="-">
                <br>
                分值：<input id="point1_score" type="text" placeholder="这里是单个点的分值"></input>
                </li>
                <li id="total_points">总分值：0</li>
            </ul>
            <input id="add_to_page" type="button" value="添加"/>
        </div>

    </form>
{% end %}


{% block js %}

<script src="{{ static_url('js/add_test.js') }}"></script>
  
{% end %}